0|Core Update Fix 1.0.1.5|1.0.1.5|The is an update for an older version of InstALL Its recommended to use the latest version|http://installsuit.mywebcommunity.org/dl/update_package.pkg|Bugfix by @mhcwebdesign in https://github.com/opencart/opencart/pull/1408456
1|Windows.Desktop.Runtime.v9.exe|9.0.2|dotNET Windows Desktop Runtime|https://download.visualstudio.microsoft.com/download/pr/b635098a-2d1d-4142-bef6-d237545123cb/2651b87007440a15209cac29634a4e45/dotnetfx35.exe|/ai
2|RuntimePack_x86_x64.exe|21.7.30|Windows RuntimePack 2||
3|Visual_C++_Redist_AIO_x86_x64.exe|14.34.31938.0|Visual C++ Redistribution AIO|https://pdn.sharezilla.ir/d/software/Microsoft.Visual.C.Plus.Plus.Redistributable.Package.v0.86.0_p30download.com.exe|/y
4|windows_desktop-runtime_x64.exe|9.0.2|Windows Desktop Runtime 9|https://pdn.sharezilla.ir/d/software/Windows.Desktop.Runtime.v9.0.2.x64_p30download.com.exe|-s
5|Java_Runtime_SE_windows-x64.exe|8.0.481|Java SE Runtime Environment|https://pdn.sharezilla.ir/d/software/jre-8u481-windows-x64.exe|/S
6|Telegram.Setup.x64.exe|5.11.1|Telegram Messenger|https://pdn.sharezilla.ir/d/software/Telegram.v5.11.1.x64.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
7|Adobe.Acrobat.Reader.DC.exe|2024.005.20414|Adobe Acrobat Reader DC|https://pdn.sharezilla.ir/d/software/Adobe.Acrobat.Reader.Dc.v2024.005.20414.x64_p30download.com.exe|/sPB
8|InfixSetup.exe|7.7.0|Infix PDF Editor|https://www.pdfeditor.biz/Infix7/v7.7.0/InfixSetup.exe|/S
9|Free_Download_Manager_x64.exe|6.33.2.6656|Free Download Manager 6|https://p30download.ir/d/software/Free.Download.Manager.v6.33.2.6656.x64_p30download.com.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
10|GOM_Player_Plus.exe|2.3.54.5318|GOM Player|https://cdn.gomlab.com/gretech/player/GOMPLAYERGLOBALSETUP_CHROME.EXE|/S
11|K-Lite_Codec_Pack_Mega.exe|19.7.0|K-Lite Codec Pack Mega|https://p30download.ir/d/software/K-Lite.Codec.Pack.v19.7.0.Mega_p30download.com.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
12|KMPlayer.exe|2026.4.24.27|KMPlayer 2026|https://p30download.ir/d/software/KMPlayer.v2026.4.24.27.x64_p30download.com.exe|/S
13|VLC.Media.Player.x64_installer.exe|3.0.23|VLC Media Player|https://p30download.ir/d/software/VLC.Media.Player.v3.0.23.x64_p30download.com.exe|/S
14|Google_Chrome_x64.msi|148.0.7778.97|Chrome Browser|https://p30download.ir/d/software/Google.Chrome.v148.0.7778.97.x64_p30download.com.msi|/qn /norestart
15|Mozilla_Firefox.exe|152.0.3|Mozilla Firefox|http://pdn.sharezilla.ir/d/software/Firefox.v152.0.3.x64_p30download.com.exe|-gm2
16|Microsoft.Edge.exe|148.0.3967.54|Microsoft Edge|https://p30download.ir/d/software/Microsoft.Edge.v148.0.3967.54.x64_p30download.com.msi|/qn /norestart
17|IObit_Driver_Booster.exe|12.2.0.542  |IOBit Driver Booster|https://cdn.iobit.com/dl/driver_booster_setup.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
18|auslogics-driver-updater-setup.exe|2.0|Auslogics Driver Updater|https://downloads.auslogics.com/en/driver-updater/auslogics-driver-updater-setup.exe|
19|7-Zip_Setup.exe|24.09|7Zip|https://pdn.sharezilla.ir/d/software/7-Zip.v24.09.x64_p30download.com.exe|/S
20|WinRAR_64bit.exe|7.13.0.0|WinRAR 7 64bit|http://installsuite.runflare.run/assets/WinRAR.v7.13.x64_p30download.com.exe|/s
21|Clippy.exe|1.4.0|Clippy 1.4|https://github.com/0-don/clippy/releases/download/v1.4.0/clippy_1.4.0_x64-setup.exe|/s
22|CPU-Z_Setup.exe|2.14|CPU-Z 2.14|https://pdn.sharezilla.ir/d/software/CPU-Z.v2.14_p30download.com.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
23|Rufus.exe|4.9.2256|Rufus|https://pdn.sharezilla.ir/d/software/Rufus.v4.9.2256.x64_p30download.com.exe|
24|Anydesk.exe|9.6.7|Anydesk remote|https://pdn.sharezilla.ir/d/software/AnyDesk.for.Windows.v9.6.7_p30download.com.exe|
25|D.D.U.exe|18.0.9.3|Display Driver Uninstaller|https://pdn.sharezilla.ir/d/software/Display.Driver.Uninstaller.v18.0.9.3_p30download.com.exe
26|FileZilla_Client-setup.exe|3.68.1|FileZilla Client|https://pdn.sharezilla.ir/d/software/FileZilla.v3.68.1.x64_p30download.com.exe|/S
27|WinSCP-setup.exe|6.3.7|WinSCP FTP Client|https://pdn.sharezilla.ir/d/software/WinSCP.v6.3.7_p30download.com.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
28|LibreOffice_setup.msi|25.2.0|LibreOffice|https://pdn.sharezilla.ir/d/software/LibreOffice.v25.2.0.x64_p30download.com.msi|/qn /norestart
29|ShareX_Setup.exe|17.0.0|ShareX|https://pdn.sharezilla.ir/d/software/ShareX.v17.0.0_p30download.com.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
30|uiso9_pe.exe|9.7.6.3860|UltraISO|https://dw3.ezbsystems.com/uiso9_pe.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
31|LastPass.Password.Manager.exe|4.133.2|LastPass Password Manager|https://pdn.sharezilla.ir/d/software/LastPass.Password.Manager.v4.133.2_p30download.com.exe|
32|windowsmanager_setup.exe|2.1.1|Windows Manager 2|https://www.yamicsoft.com/windowsmanager/software/windowsmanager.exe|
33|Everything_setup.exe|1.4.1.1032|Everything|https://p30download.ir/d/software/Everything.v1.4.1.1032.x64_p30download.com.exe|/S
34|Thunderbird_Setup.exe|135.0.1|Mozilla Thunderbird Nebula|https://pdn.sharezilla.ir/d/software/Thunderbird.v135.0.1.x64_p30download.com.exe|-gm2
35|Notepad-plus-plus.exe|8.9.2|Notepad++|https://pdn.sharezilla.ir/d/software/Notepad-plus-plus.v8.9.2.x64_p30download.com.exe|/S
36|iobit_malware_fighter_setup.exe|12.1 |IObit Malware Fighter|https://cdn.iobit.com/dl/iobit_malware_fighter_setup.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
37|AVG.AntiVirus.Free_Setup.exe|26.1.10738|AVG AntiVirus Free|https://pdn.sharezilla.ir/d/software/AVG.AntiVirus.Free.v26.1.10738_p30download.com.exe|
38|Avast.Antivirus.Free_Setup.exe|26.1.10738|Avast Antivirus Free|https://pdn.sharezilla.ir/d/software/Avast.Antivirus.Free.v26.1.10738_p30download.com.exe|
39|windows_activator.cmd|6.0|Windows 10-11 Activator|http://installsuit.mywebcommunity.org/dl/windows_activator.pkg|
40|PotPlayer_setup.exe|1.7.22777|PotPlayer|https://pdn.sharezilla.ir/d/software/PotPlayer.v1.7.22777.x64_p30download.com.exe|/S
41|HWMonitor.Pro.rar|1.57|HWMonitor|https://pdn.sharezilla.ir/d/software/CPUID.HWMonitor.Pro.v1.57.x64_p30download.com.rar|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
42|WinMerge-x64-Setup.exe|2.16.54.2|WinMerge X64|https://github.com/WinMerge/winmerge/releases/download/v2.16.54.2/WinMerge-2.16.54.2-x64-Setup.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART
43|HWiNFO_setup.exe|8.42.5930|HWiNFO|https://pdn.sharezilla.ir/d/software/HWiNFO.v8.42.5930.x64_p30download.com.exe|/VERYSILENT /SUPPRESSMSGBOXES /NORESTART